{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div>
    <div class="header-site">
      <img src="{% static 'images/avatar.jpg' %}">
      <div class="header-text">
        <h2>Sivakov Vadim</h2>
        <p><h3>Backend developer</h3></p>
        <p><b>Employment: </b> <a> Full</a></p>
        <p><b>Work schedule: </b> <a>full-time</a></p>
        <p><b>Business readiness: </b> <a>yes</a></p>
        <p><b>Desired salary: </b> <a> 35,000 hryvnias</a></p>
        <p><b>Phone: </b> <a>+380 97 4061 420</a></p>
        <p><b>Email: </b>
          <a>dbadrygana@gmail.com</a>
          <a>sivakovvadim99@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="center-site">
      <div>
        <h2>Personal information</h2>
        <p><b>Citizenship: </b> <a> Ukraine</a></p>
        <p><b>Place of residence: </b> <a> City of Cherkasy</a></p>
        <p><b>Education: </b> <a> I'm studying</a></p>
        <p><b>Date of birth: </b> <a>19.10.2001</a></p>
        <p><b>Sex: </b> <a>Man</a></p>
        <p><b>Marital status: </b> <a> Single</a></p>
        <p><b>Work Experience: </b> <a> None</a></p>
      </div>
      <p>__________________________________________________________________</p>
      <div>
        <h2>Education</h2>
        <p><b>Educational institution: </b> <a> Cherkasy State Technological University</a></p>
        <p><b>Graduation year: </b> <a> Still in school</a></p>
        <p><b>Faculty: </b> <a>Faculty of Information Technologies and Systems</a></p>
        <p><b>Specialty: </b> <a>Software engineering</a></p>
        <p><b>Form of study: </b> <a> Full-time</a></p>
      </div>
      <p>__________________________________________________________________</p>
      <div>
        <h2>Additional information</h2>
        <p><b>Foreign languages: </b> <a> English, Germany</a></p>
        <p><b>Computer languages: </b> <a>JavaScript, Java, Node JS</a></p>
        <p><b>Driver's license: </b> <a>None</a></p>
        <p><b>Army service: </b> <a>None</a></p>
        <p><b>Recommendations: </b> <a>None</a></p>
        <p><b>Personal leisure activities: </b> <a> Learning programming languages, </br> recreation, sports, basketball and football and fishing</a></p>
        <p><b>Personal qualities: </b> <a> absence of bad habits, responsibility, </br> activity, concentration</a></p>
      </div>
    </div>
  </div>
</body>

</html>
