{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div>
    <div class="header-site">
      <img src="{% static 'images/avatar.jpg' %}">
      <div class="header-text">
        <h2>Сіваков Вадим</h2>
        <p><h3>Backend developer</h3></p>
        <p><b>Занятость:</b> <a>Повна</a></p>
        <p><b>Графік роботи:</b> <a>повний робочий день</a></p>
        <p><b>Готовність до командировок: </b> <a>так</a></p>
        <p><b>Бажана зарплата: </b> <a>35 000 гривень</a></p>
        <p><b>Телефон: </b> <a>+380 97 4061 420</a></p>
        <p><b>Електронна адреса: </b>
          <a>dbadrygana@gmail.com</a>
          <a>sivakovvadim99@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="center-site">
      <div>
        <h2>Особиста інформація</h2>
        <p><b>Громадянство: </b> <a>Україна</a></p>
        <p><b>Місце проживання: </b> <a>Черкасси</a></p>
        <p><b>Освіта: </b> <a>Навчаюсь</a></p>
        <p><b>Дата народження: </b> <a>19.10.2001</a></p>
        <p><b>Стать: </b> <a>Чоловіча</a></p>
        <p><b>Сімейне положення: </b> <a>Неодружений</a></p>
        <p><b>Досвід Роботи: </b> <a>Немає</a></p>
      </div>
      <p>__________________________________________________________________</p>
      <div>
        <h2>Освіта</h2>
        <p><b>Навчальний заклад: </b> <a>Черкаський державний технологічний університет</a></p>
        <p><b>Рік закінчення: </b> <a>Ще на навчанні</a></p>
        <p><b>Факультет: </b> <a>Факультет інформаційних технологій і систем</a></p>
        <p><b>Спеціальність: </b> <a>Інженерія програмного забезпечення</a></p>
        <p><b>Форма навчання: </b> <a>Денна</a></p>
      </div>
      <p>__________________________________________________________________</p>
      <div>
        <h2>Додаткова інформація</h2>
        <p><b>Інностранні мови: </b> <a>Англійська, Німецька</a></p>
        <p><b>Комп'ютерні мови: </b> <a>JavaScript, Java, Node Js</a></p>
        <p><b>Наявність водійських прав: </b> <a>Немає</a></p>
        <p><b>Служба в армії: </b> <a>Немає</a></p>
        <p><b>Рекоменданії: </b> <a>Немає</a></p>
        <p><b>Особисті заняття у вільний час: </b> <a>Вивчення мов програмування, </br> відпочинок, зайняття спортом, баскетболом і футболом а також рибалкою</a></p>
        <p><b>Особисті якості: </b> <a>відсутність шкідливих привичок, відповідальність, </br> активність, зосередженість</a></p>
      </div>
    </div>
  </div>
</body>

</html>
