{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  </head>

  <body>
    <div id="container">
      <div id="container-left">
        <img src="{% static 'images/avatar.jpg' %}" width="250px" height="350px">
        <div class="text-main">
          <h2>ABOUT ME:</h2>
          <p>_______________________________</p>
          <h4>
            I started my journey in iT when I entered the university, getting acquainted with the first programming language, JavaScript
            At the University, I started learning Java, which led to my interest in Backend development.
            Then I went out to learn Node JS.
            I've read many threads and completed many tasks, but I haven't made it yet
            study thoroughly. This is how my start in Backend development began
          </h4>
          <p>_______________________________</p>
          <h2>Additional Information</h2>
          <h4>
            <p>Foreign languages: English, Germany</p>
            <p>Availability of driver's licenses: None</p>
            <p>Service in the army: None</p>
            <p>Recommendations: None</p>
            <p>Personal leisure activities: Learning programming languages, </br> leisure, sports, basketball and football and fishing</p>
            <p>Personal qualities: <a> absence of bad habits, responsibility, </br> activity, concentration</a></p>
          </h4>
        </div>
      </div>
      <div id="container-right">
        <div>
          <div class="right-main">
            <h1>Sivakov Vadim</h1>
            <h3>Backend developer</h3>
            <div class="right-style">
              <img src="{% static 'images/pochta.png' %}" width="30px" height="30px">
              <div class="email">
                <h3>dbadrygana@gmail.com</h3>
                <h3>sivakovvadim99@gmail.com</h3>
              </div>
              <img src="{% static 'images/phone.png' %}" width="30px" height="30px" class="img-phone">
              <div class="cell-numbers">
                <h3>+380 97 4061 420</h3>
              </div>
            </div>
            <div class="metka-style">
              <img src="{% static 'images/metka.png' %}" width="35px" height="35px">
              <div>
                <h3>Ukraine, Cherkassy city, Chekhova street, 42</h3>
              </div>
            </div>
          </div>
          <div>
            <div class="education">
              <img src="{% static 'images/education.png' %}" width="40px">
              <h2>EDUCATION</h2>
            </div>
            <p><b>___________________________________________________________________________________________________________</b></p>
            <div>
              <div>
                <div class="body-right">
                  <h2>2007-2016</h2>
                  <div class="houseEducation">
                    <h3>Talniv Educational Complex General Education School of Grades I-III No. 1</h3>
                  </div>
                </div>
                <div class="body-right">
                  <h2>2016-2020</h2>
                  <div class="houseEducation">
                    <h3>Talniv Construction and Economic College</h3>
                  </div>
                </div>
                <div class="body-right">
                  <h2>2020-2025</h2>
                  <div class="houseEducation">
                    <h3>CHERKASK STATE TECHNOLOGICAL UNIVERSITY</h3>
                  </div>
                </div>
            </div>
            <hr class="line" />
            <div>
              <h2>Programming languages</h2>
              <div class="programing-state">
                <div>
                  <h3>
                    <p>JavaScript</p>
                    <img src="{% static 'images/js.svg' %}" width="30px" height="40px" />
                  </h3>
                </div>
                <div>
                  <h3>
                    <p>Node JS</p>
                    <img src="{% static 'images/node.png' %}" width="50px" height="40px" />
                  </h3>
                </div>
                <div>
                  <h3>
                    <p>Java</p>
                    <img src="{% static 'images/java.png' %}" width="50px" height="40px" />
                  </h3>
                </div>
              </div>
              <hr class="line" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
